
        <div class="board">
            <div class="" ng-repeat="rank in main.ranks">
                <div class="row">
                    <div class="" ng-repeat="file in main.files">
                        <div id="{{file}}{{8-$parent.$index}}" ng-click="main.select($event)" ng-class="{'white': ($index + $parent.$index) % 2 == 0, 'black': ($index + $parent.$index) % 2 != 0}"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button class="btn btn-lg btn-warning" ng-click="main.undo()">Undo</button>
        <button style="float: right;" class="btn btn-lg btn-success" ng-show="main.showStart" ng-click="main.resetGame(false); main.toggleStart()">Start Game</button>
