<div class="row">
    <input class="player col-xs-6" type="text" ng-model="main.playerMe" placeholder="Player 1" readonly>
    <input class="player col-xs-6" type="text" ng-model="main.playerOpponent" placeholder="Player 1" ng-readonly="main.gameStarted">
</div>

<br>

<div class="board">
    <div class="" ng-repeat="rank in main.ranks">
        <div class="row">
            <div class="" ng-repeat="file in main.files">
                <div id="{{file}}{{8-$parent.$index}}" ng-click="main.select($event);" ng-class="{'white': ($index + $parent.$index) % 2 == 0, 'black': ($index + $parent.$index) % 2 != 0}"></div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <button class="btn btn-lg btn-warning col-xs-2 boardButton" ng-click="main.undo()">Undo</button>
    <button class="btn btn-lg btn-primary col-xs-4 col-xs-offset-1 boardButton" ng-click="main.togglePiecePallet()">Piece Pallet</button>
    <button class="btn btn-lg btn-danger col-xs-4 col-xs-offset-1 boardButton" ng-hide="main.showStart" ng-click="main.resetGame();">Reset Game</button>
    <button class="btn btn-lg btn-success col-xs-4 col-xs-offset-1 boardButton" ng-show="main.showStart" ng-click="main.resetGame(false); main.toggleStart()">Start Game</button>
</div>

<hr>

<div ng-show="main.showPiecePallet">
    <div class="palletContainer">
        <div class="row">
            <div class="piecePalletCell" id="palletPiece-{{piece.type}}" ng-repeat="piece in main.whitePalletCells" ng-click="main.select($event)">
                <img class="chessPiece" type="{{piece.type}}" ng-src="img/{{piece.image}}">
            </div>
        </div>
        <div class="row">
            <div class="piecePalletCell" id="palletPiece-{{piece.type}}" ng-repeat="piece in main.blackPalletCells" ng-click="main.select($event)">
                <img class="chessPiece" type="{{piece.type}}" ng-src="img/{{piece.image}}">
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="row">
    <button class="btn btn-lg btn-success col-xs-5 boardButton" ng-click="main.getServerMoves()">Check Server</button>
    <button class="btn btn-lg btn-warning col-xs-5 col-xs-offset-2 boardButton" ng-disabled="main.playerTurn != main.playerMe"
        ng-click="main.sendMovesToServer()">End Turn</button>
</div>
<hr>