<h1 class="page-header"> House rules Chess </h1>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <p> Login: </p>
        <input class="form-control" type="text" name="username" placeholder="Username" ng-model="main.username">
        <input class="form-control" type="password" name="password" placeholder="Password" ng-model="main.password">
        <br>
        <button class="btn btn-lg btn-primary" ng-click="main.login()">Login</button>
    </div>
</div>
<br>
<br>

<a href="#/board"><button id="StartButton" class="btn btn-lg btn-success col-xs-8 col-xs-offset-2">New Game!</button></a>