<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/overrides.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <title>House Rules Chess</title>
</head>

<body ng-app="houseRulesChess" ng-controller="mainController">
    <div class="container-fluid">
        <h1 class="page-header">House Rules Chess</h1>
        
        <div class="board">
            <div class="" ng-repeat="rank in ranks">
                <div class="row">
                    <div class="" ng-repeat="file in files">
                        <div id="{{file}}{{8-$parent.$index}}" 
                        ng-click="select($event)" ng-class="{'white': ($index + $parent.$index) % 2 == 0, 'black': ($index + $parent.$index) % 2 != 0}"></div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <button class="btn btn-success" ng-click="startGame()">Start Game</button>
        <p>{{}}</p>

    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

<i>By jurgenwesterhof (adapted from work of Cburnett) - <a class="external free" href="http://commons.wikimedia.org/wiki/Template:SVG_chess_pieces">http://commons.wikimedia.org/wiki/Template:SVG_chess_pieces</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=35634436">https://commons.wikimedia.org/w/index.php?curid=35634436</a></i>
</body>

</html>