
/* Elements */
* {
    background-color: #121212;
    color: white;
}

nav {
    background-color: lightgray;
    width: 50vw;
    height: 75vh;
    position: absolute;
    right:5px;
    top:55px;
    z-index: 10;

}

nav * {
    background-color: lightgray;
    color: black;
    font-size: 1.25em;
    margin:5px;
    padding: 0px
}

/* Classes */
.white {
    background-color: white;
    color: black;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}
.white:hover {
    background-color: lightblue;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}

.black {
    background-color: saddlebrown;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}
.black:hover {
    background-color: lightblue;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}

.board {

}

.chessPiece {
    position: relative;
    z-index: 2;
    background-color: inherit;
    height: 90%;
    width:90%;
    margin-top: 5%;
    margin-left: 5%;    
}

.menuItem * {
    padding: 15px;
}

/* ID's */

#menuButton {
    font-size: 1.5em;
}

#StartButton {
    height: 30vh;
}