
/* Elements */
* {
    background-color: #121212;
    color: white;
}

body {
    height: 100vh;
    background-color: #121212;
    color: white;
}

nav {
    background-color: lightgray;
    width: 50vw;
    padding: 50px 30px;
    position: absolute;
    right:5px;
    top:50px;
    z-index: 10;
    border-radius: 15px;

}

nav * {
    background-color: lightgray;
    color: black;
    font-size: 1.25em;
    padding: 5px
}

/* Classes */
.white {
    background-color: white;
    color: black;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}
.white:hover {
    background-color: lightblue;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}

.black {
    background-color: saddlebrown;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}
.black:hover {
    background-color: lightblue;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}

.board {

}

.chessPiece {
    position: relative;
    z-index: 2;
    background-color: inherit;
    height: 90%;
    width:90%;
    margin-top: 5%;
    margin-left: 5%;    
}

.menuItem * {
    padding: 15px;
}

/* ID's */

#menuButton {
    font-size: 1.5em;
}

#StartButton {
    height: 30vh;
}

.piecePalletCell {
    background-color: lightgray;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
    border: 2px solid gray;
    border-radius: 5px;
}

.piecePalletCell:hover {
    background-color: lightblue;
    width: 12.5vw;
    height: 12.5vw;
    float:left;
}

.palletContainer{
    margin-left:12.5vw;
}

.boardButton{
    padding: 10px 0px;
}